
name: Perform checks

on:

  push:

    branches:
      - feat/*
      - fix/*
      - test/*
      - chore/*
      - build/*
      - docs/*

  workflow_call:
    secrets: 
      DIGITA_PACKAGES:
        required: true

jobs:

  test:

    name: Run tests

    runs-on: ubuntu-latest

    steps:
    
      - uses: actions/checkout@v2

      - name: Extract tag
        id: extract-tag
        run: echo "::set-output name=tag::${GITHUB_REF/refs\/tags\//}"

      - name: Check tag
        run: echo ${{ steps.extract-tag.outputs.tag }}

      - name: Extract branch
        id: extract-branch
        run: echo "::set-output name=branch::${GITHUB_REF/refs\/heads\//}"

      - name: Check branch
        run: echo ${{ steps.extract-branch.outputs.branch }}

      - uses: actions/setup-node@v1
        with:
          node-version: 14
          registry-url: https://npm.pkg.github.com

      - run: npm run bootstrap
        env:
          NODE_AUTH_TOKEN: ${{ secrets.DIGITA_PACKAGES }}

      - run: npm run build:all

      - run: npm run lint:all

      - run: npm run test:ci
